<% include partials/header %>

<h1>Editar Usuário (<%= user.first_name %> <%= user.last_name %>)</h1>

<form action="/users/<%= user._id %>?_method=PUT" method="POST">
  <input type="text" name="user[email]" placeholder="Email">
  <input type="text" name="user[first_name]" placeholder="First Name">
  <input type="text" name="user[last_name]" placeholder="Last Name">
  <input type="text" name="user[personal_phone]" placeholder="Personal Phone">
  <button>Editar Usuário</button>
</form>

<% include partials/footer %>
