<% include partials/header %>

<h1>New User</h1>

<form action="/users" method="POST">
  <p><input type="text" name="user[email]" placeholder="Email"></p>
  <p><input type="text" name="user[first_name]" placeholder="First Name"></p>
  <p><input type="text" name="user[last_name]" placeholder="Last Name"></p>
  <p><input type="text" name="user[personal_phone]" placeholder="Personal Phone"></p>
  <p><button>Create</button></p>
</form>
<p><a href="/">Back</a></p>

<% include partials/footer %>
